{% load static %}
{% load post_tags %}
{% check_like_status post user as user_liked %}
<div class="d-flex justify-content-between align-items-center">
    <form class="like-form" data-post-pk="{{ post.pk }}" data-url="{% url 'like-post' pk=post.pk %}">
        {% csrf_token %}
        {% if user_liked == 1 %}
        <button type="submit" id="like-button-{{ post.pk }}" class="btn btn-outline-success like-btn"
            style="background-color: #198754; color: #ffffff;">
            <i class="fa-regular fa-thumbs-up"></i>
            <span id="likes-count-{{ post.pk }}">{{ post.liked_by.count }}</span>
        </button>
        {% else %}
        <button type="submit" id="like-button-{{ post.pk }}" class="btn btn-outline-success like-btn">
            <i class="fa-regular fa-thumbs-up"></i>
            <span id="likes-count-{{ post.pk }}">{{ post.liked_by.count }}</span>
        </button>
        {% endif %}
    </form>

    <form class="dislike-form" data-post-pk="{{ post.pk }}" data-url="{% url 'dislike-post' pk=post.pk %}">
        {% csrf_token %}
        {% if user_liked == -1 %}
        <button type="submit" id="dislike-button-{{ post.pk }}" class="btn btn-outline-danger dislike-btn"
            style="background-color: #dc3545; color: #ffffff;">
            <i class="fa-regular fa-thumbs-down">
                <span id="dislikes-count-{{ post.pk }}">{{ post.disliked_by.count }}</span>
            </i>
        </button>
        {% else %}
        <button type="submit" id="dislike-button-{{ post.pk }}" class="btn btn-outline-danger dislike-btn">
            <i class="fa-regular fa-thumbs-down">
                <span id="dislikes-count-{{ post.pk }}">{{ post.disliked_by.count }}</span>
            </i>
        </button>
        {% endif %}
    </form>
</div>
<script type="module" src="{% static 'js/posts/like_and_dislike_buttons.js' %}"></script>