{% load static %}
{% load post_tags %}
{% check_like_status post user as is_user_liked %}

<div class="d-flex justify-content-between align-items-center">
    <form class="like-form" data-post-pk="{{ post.pk }}" data-url="{% url 'like-post' pk=post.pk %}"
        data-listener-added="false">
        {% csrf_token %}
        <button type="submit" id="like-button-{{ post.pk }}"
            class="btn {% if is_user_liked == 1 %}btn-success{% else %}btn-outline-success{% endif %} like-btn">
            <i class="fa-regular fa-thumbs-up">
                <span id="likes-count-{{ post.pk }}">{{ post.liked_by.count }}</span>
            </i>
        </button>
    </form>

    <form class="dislike-form" data-post-pk="{{ post.pk }}" data-url="{% url 'dislike-post' pk=post.pk %}"
        data-listener-added="false">
        {% csrf_token %}
        <button type="submit" id="dislike-button-{{ post.pk }}"
            class="btn {% if is_user_liked == -1 %}btn-danger{% else %}btn-outline-danger{% endif %} dislike-btn">
            <i class="fa-regular fa-thumbs-down">
                <span id="dislikes-count-{{ post.pk }}">{{ post.disliked_by.count }}</span>
            </i>
        </button>
    </form>
</div>

{% block javascripts %}
<script src="{% static 'js/posts/like_and_dislike_buttons.js' %}"></script>
{% endblock %}