{% load static %}
{% if replies %}
<ul>
  {% for reply in replies %}
  <li id="comment-item-{{ reply.pk }}" class="list-group-item">
    <div class="mt-1">
      {% if reply.is_deleted %}
      <div>
        <img src="{% get_media_prefix %}profile_images/default_profile_image.jpg" class="rounded-circle"
          style="width: 30px; height: 30px; object-fit: contain;" alt="deleted profile image">
        <strong class="me-1">[deleted]</strong>
        <small class="text-muted me-1">-</small>
        <small class="text-muted me-1">{{ reply.soft_deleted_at|date:"F j, Y, G:i" }}</small>
        <div class="ms-4">
          <p class="text-muted ms-2 mb-2">Comment deleted by user</p>
        </div>
      </div>
      {% else %}
      <div>
        <a href="{% url 'user-profile-detail' username=reply.author.username %}"
          class="text-decoration-none text-reset">
          <img src="{{ reply.author.profile.profile_image.url }}" class="rounded-circle"
            style="width: 30px; height: 30px; object-fit: cover;" alt="{{ reply.author.username }}'s profile image">
          <strong class="me-1">{{ reply.author.username }}</strong>
          <small class="text-muted me-1">-</small>
          <small class="text-muted me-1">{{ reply.date_posted|date:"F j, Y, G:i" }}</small>
        </a>
        <div class="ms-4" style="transform: translateX(3px);">
          <p class="ms-2 mb-0">{{ reply.content }}</p>
          <div class="d-flex justify-content-start align-items-center">
            {% include 'posts/comment_like_and_dislike_button.html' with comment=reply user=user %}
            <a id="reply-link-{{ reply.pk }}" class="reply-link btn text-primary rounded-pill border-0 pt-0 pb-0 me-1"
              data-pk="{{ reply.pk }}">
              <i class="fa-regular fa-message me-1"></i>{{ reply.children.count}}
            </a>
            <div class="btn-group dropup">
              <button class="reply-toggle-btn btn btn-link text-dark rounded-pill pt-0 pb-0"
                id="reply-dropdown-{{ reply.pk }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="reply-dropdown-{{ reply.pk }}">
                {% if reply.author == user %}
                <li>
                  <form method="post" action="{% url 'comment-soft-delete' pk=reply.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Delete</button>
                  </form>
                </li>
                {% endif %}
                <li>
                  <a class="dropdown-item text-decoration-none text-reset" href="#">Save</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="reply-form-wrapper-{{ reply.pk }}" class="reply-form-wrapper" style="display: none;">
        <form method="post" action="{% url 'reply-create' pk=reply.pk %}">
          {% csrf_token %}
          <div class="reply-form-container" style="position: relative; min-height: fit-content;">
            <div class="form-group">
              <textarea id="id_content" name="content" cols="40" rows="3" class="form-control" style="height: 40px;"
                required></textarea>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill pt-1 pb-1"
              style="position: absolute; bottom: 3px; right: 10px; visibility: hidden; opacity: 0; width: 0px; transform: translateX(7px); overflow: hidden;">
              Reply
            </button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>

    {% include 'posts/nested_comment_form.html' with replies=reply.children %}
  </li>
  {% endfor %}
</ul>
{% endif %}