{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts/post_detail.css' %}">
{% endblock %}

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <a href="{% url 'user-profile-detail' username=post.author.username %}"
      class="card-author d-flex align-items-center text-decoration-none text-reset">
      <img src="{{ post.author.profile.profile_image.url }}" class="rounded-circle me-1"
        style="width: 35px; height: 35px; object-fit: cover;" alt="{{ post.author.username }}'s profile image">
      <span class="h5 mb-0">{{ post.author }}</span>
    </a>
    <small class="text-muted">{{ post.date_posted|date:"M d, Y H:i" }}</small>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{ post.title }}</h2>
    <div class="dropdown">
      <i id="post-dropdown-{{ post.pk }}" class="fa-solid fa-ellipsis fa-xl" style="color: #000000; cursor: pointer;"
        data-bs-toggle="dropdown" aria-expanded="false"></i>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="post-dropdown-{{ post.pk }}">
        {% if user == post.author %}
        <li>
          <a class="dropdown-item" href="{% url 'post-update' pk=post.pk %}">Edit</a>
        </li>
        <li>
          <form method="post" action="{% url 'post-soft-delete' pk=post.pk %}">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Delete</button>
          </form>
        </li>
        {% else %}
        <li>
          <a class="dropdown-item" href="#">Save</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
  <p>{{ post.content }}</p>
  {% include 'posts/post_file_detail.html' with post=post %}
  <div class="d-flex justify-content-between align-items-center">

    {% include 'posts/post_like_and_dislike_button.html' with post=post user=user %}

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="me-3">
        <a href="#comment-form-container" class="text-decoration-none text-reset">
          <i class="fa-solid fa-comments fa-xl me-1"></i>{{ post.comments.count }}
        </a>
      </div>
      <div class="me-3">
        <i class="fa-solid fa-eye fa-xl me-1"></i>{{ post.views }}
      </div>
      {% if post.file %}
      <div>
        <a href="{{ post.file.url }}" class="btn btn-outline-primary file-download-button" download>
          <i class="fa-solid fa-download"></i>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Comment Form with Crispy Forms -->
  <div class="mt-3">
    <form method="post" action="{% url 'comment-create' pk=post.pk %}">
      {% csrf_token %}
      <div id="comment-form-container" style="position: relative; min-height: fit-content;">
        <div class="form-group">
          <textarea id="id_content" name="content" cols="40" rows="3" class="form-control" style="height: 40px;"
            placeholder="Add a comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill pt-1 pb-1"
          style="position: absolute; bottom: 3px; right: 10px; visibility: hidden; opacity: 0; width: 0px; transform: translateX(7px); overflow: hidden;">
          Comment
        </button>
      </div>
    </form>
  </div>

  <!-- Display existing comments -->
  <div class="position-relative">
    {% if post.parent_comments %}
    <ul class="p-0">
      {% for parent_comment in post.parent_comments %}
      <li id="comment-item-{{ parent_comment.pk }}" class="list-group-item">
        <div class="mt-1">
          {% if parent_comment.is_deleted %}
          <div>
            <img src="{% get_media_prefix %}profile_images/default_profile_image.jpg" class="rounded-circle"
              style="width: 30px; height: 30px; object-fit: contain;" alt="deleted profile image">
            <strong class="me-1">[deleted]</strong>
            <small class="text-muted me-1">-</small>
            <small class="text-muted me-1">{{ parent_comment.soft_deleted_at|date:"F j, Y, G:i" }}</small>
            <div class="ms-4">
              <p class="text-muted ms-2 mb-2">Comment deleted by user</p>
            </div>
          </div>
          {% else %}
          <div>
            <a href="{% url 'user-profile-detail' username=parent_comment.author.username %}"
              class="text-decoration-none text-reset">
              <img src="{{ parent_comment.author.profile.profile_image.url }}" class="rounded-circle"
                style="width: 30px; height: 30px; object-fit: cover;"
                alt="{{ parent_comment.author.username }}'s profile image">
              <strong class="me-1">{{ parent_comment.author.username }}</strong>
              <small class="text-muted me-1">-</small>
              <small class="text-muted me-1">{{ parent_comment.date_posted|date:"F j, Y, G:i" }}</small>
            </a>
            <div class="ms-4" style="transform: translateX(3px);">
              <p class="ms-2 mb-0">{{ parent_comment.content }}</p>
              <div class="d-flex justify-content-start align-items-center">
                {% include 'posts/comment_like_and_dislike_button.html' with comment=parent_comment user=user %}
                <a id="reply-link-{{ parent_comment.pk }}"
                  class="reply-link btn text-primary rounded-pill border-0 pt-0 pb-0 me-1"
                  data-pk="{{ parent_comment.pk }}">
                  <i class="fa-regular fa-message me-1"></i>{{ parent_comment.children.count}}
                </a>
                <div class="btn-group dropup">
                  <button class="reply-toggle-btn btn btn-link text-dark rounded-pill pt-0 pb-0"
                    id="comment-dropdown-{{ reply.pk }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="comment-dropdown-{{ parent_comment.pk }}">
                    {% if parent_comment.author == user %}
                    <li>
                      <form method="post" action="{% url 'comment-soft-delete' pk=parent_comment.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Delete</button>
                      </form>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item text-decoration-none text-reset" href="#">Save</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="reply-form-wrapper-{{ parent_comment.pk }}" class="reply-form-wrapper"
                style="display: none; transform: translateX(3px);">
                <form method="post" action="{% url 'reply-create' pk=parent_comment.pk %}">
                  {% csrf_token %}
                  <div class="reply-form-container" style="position: relative; min-height: fit-content;">
                    <div class="form-group">
                      <textarea id="id_content" name="content" cols="40" rows="3" class="form-control"
                        style="height: 40px;" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill pt-1 pb-1"
                      style="position: absolute; bottom: 3px; right: 10px; visibility: hidden; opacity: 0; width: 0px; transform: translateX(7px); overflow: hidden;">
                      Reply
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% include 'posts/nested_comment_form.html' with replies=parent_comment.children %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No comments yet</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/posts/post_detail.js' %}"></script>
{% endblock %}