{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="container mt-5">
  <h2>{{ post.title }}</h2>
  <p>By {{ post.author }} on {{ post.date_posted|date:"F j, Y, G:i" }}</p>
  <p>{{ post.content }}</p>

  {% include 'posts/post_file_detail.html' with post=post %}
  <div class="d-flex justify-content-between align-items-center">

    {% include 'posts/like_and_dislike_button.html' with post=post user=user %}

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <i class="fa-regular fa-comments fa-lg me-1"></i>{{ post.comments.count }}
      </div>
      <div>
        <i class="fa-regular fa-eye fa-lg me-1"></i>{{ post.views }}
      </div>
      {% if post.file %}
      <div>
        <a href="{{ post.file.url }}" class="btn btn-sm btn-outline-primary file-download-button" download>
          <i class="fa-regular fa-download"></i>
        </a>
      </div>
      {% endif %}
    </div>


    {% if request.user == post.author %}
    <a class="btn btn-warning" href="{% url 'post-update' pk=post.pk %}">Edit</a>
    <form method="post" action="{% url 'post-soft-delete' pk=post.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Soft Delete</button>
    </form>
    {% endif %}
  </div>

  <!-- Comment Form with Crispy Forms -->
  <div style="position: relative;">
    <form method="post" action="{% url 'comment-create' pk=post.pk %}">
      {% csrf_token %}
      <div style="position: relative; margin-bottom: 50px;">
        {{ comment_create_form|crispy }}
        <button type="submit" class="btn btn-primary" style="position: absolute; right: 10px; bottom: 10px;">
          <i class="fa-regular fa-reply"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- Display existing comments -->
  <h3>Comments</h3>
  {% if parent_comments %}
  <ul class="list-group">
    {% for parent_comment in parent_comments %}
    <li class="list-group-item">
      <p>
        <strong> {{ parent_comment.author.username }} </strong>
        on
        {{ parent_comment.date_posted|date:"F j, Y, G:i" }}
      </p>
      <p>{{ parent_comment.content }}</p>

      <div style="position: relative;">
        <form method="post" action="{% url 'reply-create' pk=parent_comment.pk %}">
          {% csrf_token %}
          <div style="position: relative; margin-bottom: 50px;">
            {{ reply_create_form|crispy }}
            <button type="submit" class="btn btn-primary" style="position: absolute; right: 10px; bottom: 10px;">
              <i class="fa-regular fa-reply"></i>
            </button>
          </div>
        </form>
      </div>

      {% include 'posts/nested_comment_form.html' with replies=parent_comment.children %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No comments yet.</p>
  {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/posts/post_detail.js' %}"></script>
{% endblock %}