{% extends 'base.html' %}
{% load static %}
{% block title %}Metasphere{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/layouts/home.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-3 text-center">Welcome to Metasphere</h2>
  {% for post in active_posts %}
  <div class="card mb-4 shadow-sm post-card" id="post-{{ post.pk }}" data-href="{% url 'post-detail' post.pk %}">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="card-title">{{ post.title }}</h3>
        {% if post.file %}
        <a href="{{ post.file.url }}" class="btn btn-sm btn-outline-primary file-download-button" download>
          Download File
        </a>
        {% endif %}
      </div>
      <h6 class="card-subtitle mb-2 text-muted">
        By <a href="{% url 'user-profile-detail' username=post.author.username %}"
          class="text-decoration-none card-author">
          {{ post.author }}
        </a> - <small>{{ post.date_posted|date:"M d, Y H:i" }}</small>
      </h6>
      <p class="card-text">{{ post.content|truncatewords:50 }}</p>
      <div class="d-flex justify-content-between align-items-center">
        {% include 'posts/like_and_dislike_button.html' with post=post user=user %}
        <button class="btn btn-outline-secondary">
          <i class="fa-solid fa-comments me-1"></i>{{ post.comments.count }}
        </button>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="text-center text-muted">No posts available.</p>
  {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/layouts/home.js' %}"></script>
{% endblock %}