{% load static %}
{% load comment_tags %}
{% check_comment_like_status comment user as is_user_liked_comment %}

<div class="comment-like-dislike-container d-flex align-items-center">
    <form method="post" class="comment-like-form" data-pk="{{ comment.pk }}"
        action="{% url 'like-comment' pk=comment.pk %}" data-url="{% url 'like-comment' pk=comment.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm rounded-pill py-0">
            <i
                class="{% if is_user_liked_comment == 1 %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-up text-success">
                <span>{{ comment.liked_by.count }}</span>
            </i>
        </button>
    </form>

    <form method="post" class="comment-dislike-form" action="{% url 'dislike-comment' pk=comment.pk %}"
        data-pk="{{ comment.pk }}" data-url="{% url 'dislike-comment' pk=comment.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm rounded-pill py-0">
            <i
                class="{% if is_user_liked_comment == -1 %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-down text-danger">
                <span>{{ comment.disliked_by.count }}</span>
            </i>
        </button>
    </form>
</div>