{% load comment_tags %}

<div class="modal fade" id="commentModal-{{ comment.pk }}" tabindex="-1"
    aria-labelledby="commentModalLabel-{{ comment.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                {% check_comment_save_status comment user as is_user_saved_comment %}
                {% if is_user_saved_comment %}
                <form method="post" class="comment-unsave-form saved" action="{% url 'unsave-comment' pk=comment.pk %}"
                    data-save-url="{% url 'save-comment' pk=comment.pk %}"
                    data-unsave-url="{% url 'unsave-comment' pk=comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary w-100 mb-2">Saved</button>
                </form>
                {% else %}
                <form method="post" class="comment-save-form save" action="{% url 'save-comment' pk=comment.pk %}"
                    data-save-url="{% url 'save-comment' pk=comment.pk %}"
                    data-unsave-url="{% url 'unsave-comment' pk=comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary w-100 mb-2">Save</button>
                </form>
                {% endif %}
                {% if comment.author == user %}
                <form method="post" action="{% url 'comment-soft-delete' pk=comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>