{% load static %}
{% load post_tags %}
{% check_post_like_status post user as is_user_liked_post %}

<div class="post-like-dislike-container d-flex justify-content-between align-items-center">
    <form method="post" class="post-like-form" action="{% url 'like-post' pk=post.pk %}" data-pk="{{ post.pk }}"
        data-url="{% url 'like-post' pk=post.pk %}">
        {% csrf_token %}
        <button type="submit"
            class="btn btn-sm {% if is_user_liked_post == 1 %}btn-success{% else %}btn-outline-success{% endif %} border-0">
            <i class="fa-regular fa-thumbs-up">
                <span>{{ post.liked_by.count }}</span>
            </i>
        </button>
    </form>

    <form method="post" class="post-dislike-form" action="{% url 'dislike-post' pk=post.pk %}" data-pk="{{ post.pk }}"
        data-url="{% url 'dislike-post' pk=post.pk %}">
        {% csrf_token %}
        <button type="submit"
            class="btn btn-sm {% if is_user_liked_post == -1 %}btn-danger{% else %}btn-outline-danger{% endif %} border-0">
            <i class="fa-regular fa-thumbs-down">
                <span>{{ post.disliked_by.count }}</span>
            </i>
        </button>
    </form>
</div>