{% load static %}
{% if post.file %}
<div class="rounded-4">
    {% if post.file_extension in '.jpg, .jpeg, .png, .gif, .bmp, .tiff, .svg, .webp' %}
    <img src="{{ post.file.url }}" alt="Image" class="img-fluid rounded-3 shadow-sm w-100"
        style="max-height: 400px; object-fit: contain; aspect-ratio: 1/1;">
    {% elif post.file_extension in '.mp4, .avi, .mov, .mkv, .flv, .wmv, .webm' %}
    <video controls playsinline preload="auto" class="file-video rounded-3 shadow-sm w-100"
        style="max-height: 400px; object-fit: contain; aspect-ratio: 1/1;">
        <source src="{{ post.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% else %}
    <div class="d-flex flex-column align-items-center justify-content-center rounded-3 bg-light-subtle shadow-sm w-100"
        style="max-height: 200px; aspect-ratio: 1/1;">
        <p class="text-break small px-1">{{ post.file_name }}</p>
        <a href="{{ post.file.url }}" target="_blank" class="btn btn-primary">
            <i class="fa-solid fa-download"></i>
        </a>
    </div>
    {% endif %}
</div>
{% endif %}