{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex flex-column align-items-center bg-light rounded shadow-sm p-4">
        <a href="{% url 'metasphere' %}">
            <img src="{% static 'images/title.svg' %}" width="400" />
        </a>
        <h2 class="fs-6 fw-normal text-center text-secondary">Provide the email
            associated with your account to recover your password.</h2>
        <form method="post" class="w-75">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary">Reset my password</button>
            </div>
        </form>
        <div>
            <hr>
            <div class="d-flex gap-5 justify-content-center">
                <a href="?modal=login" class="link-secondary text-decoration-none">Log In</a>
                <a href="?modal=signup" class="link-secondary text-decoration-none">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}