{% extends 'base.html' %}
{% load static %}
{% load profile_tags %}

{% block title %}{{viewed_user.username }}'s Profile{% endblock %}

{% block content %}
{% check_profile_follow_status user viewed_user as is_following %}
<div class="container mt-5 ">
  <div id="user-profile-container" class="d-flex flex-column align-items-center">
    <div class="d-flex align-items-ceneter">
      <div id="story-container" class="story-container position-relative me-4" data-initialized="0"
        style="width: 150px; height: 150px;">
        {% include 'components/stories/story_item.html' with active_stories=active_stories viewed_user=viewed_user %}
      </div>

      <div>
        <h2>{{ viewed_user.username }}</h2>
        <p>Bio: {{ viewed_user.profile.bio }}</p>
        {% include 'components/users/user_online_status.html' with user=viewed_user %}
        {% include 'components/users/follower_and_following_detail.html' with viewed_user=viewed_user %}
      </div>
    </div>

    <div class="d-flex justify-content-evenly align-items-ceneter mt-4 col-lg-8">
      {% if viewed_user == user %}
      <a href="{% url 'user-profile-update' %}" class="btn btn-dark">Edit Profile</a>
      <a href="{% url 'post-create' %}" class="btn btn-dark">Create Post</a>
      <a href="{% url 'story-create' %}" class="btn btn-dark">Create Story</a>
      {% else %}
      {% if is_following %}
      <form method="post" class="user-unfollow-form following"
        action="{% url 'unfollow-profile' username=viewed_user.username %}"
        data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Following</button>
      </form>
      {% else %}
      <form method="post" class="user-follow-form follow"
        action="{% url 'follow-profile' username=viewed_user.username %}"
        data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Follow</button>
      </form>
      {% endif %}
      <form method="post" class="send-message-form"
        action="{% url 'private-chat-create' receiver_username=viewed_user.username %}"
        data-url="{% url 'private-chat-create' receiver_username=viewed_user.username %}"
        data-receiver-username="{{ viewed_user.username }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Message</button>
      </form>
      {% endif %}
    </div>
    {% include 'components/users/user_profile_sections.html' with viewed_user=viewed_user %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{% static 'apps/js/users/user_profile_detail.js' %}"></script>
{% endblock %}