{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Your Notifications</h2>
    <form class="mark-all-as-read-form mb-3" data-url="{% url 'mark-all-as-read' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Mark All as Read</button>
    </form>
    <div id="notifications-container" class="list-group">
        {% for notification in notifications %}
        <div>
            {% include 'components/notifications/notification_item.html' with user=user notification=notification %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{% static 'apps/js/notifications/notification.js' %}"></script>
{% endblock %}