.icon-gradient {
  background: -webkit-linear-gradient(
    0deg,
    rgb(0, 150, 255),
    rgb(255, 100, 200)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
@media (max-width: 1100px) {
  .left-part,
  .right-part {
    display: none;
  }
  .middle-part {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
