/* For Webkit browsers (Chrome, Safari) */
.messages-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.messages-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}