{% extends "base.html" %}
{% load static %}
{% block title %}My Chats{%endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chats/chat_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row g-0" style="height: 80vh;">
    <!-- Left part: List of chats -->
    <div class="col-md-3 d-flex flex-column border-start border-top border-bottom"
      style="height: 100%; overflow-y: auto;">
      {% include 'chats/group_chat_create_form.html' %}
      <!-- <form method="get" action="" class="d-flex align-items-center position-relative ps-0 pe-0 w-100">
        <input type="text" class="form-control rounded-0" name="query" placeholder="Search users..."
          style="padding-left: 30px; padding-right: 5px;">
        <button
          style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); border: none; background: none; padding: 0; pointer-events: all;">
          <i class="fa fa-search"></i>
        </button>
      </form> -->
      {% if chats %}
      <ul class="list-group chat-list flex-grow-1 rounded-0" style="overflow-y: auto;">
        {% for chat in chats %}
        <li class="list-group-item chat-item d-flex flex-column align-items-start" data-chat-pk="{{ chat.pk }}"
          data-href="{% url 'chat-detail' pk=chat.pk %}" style="border-right: none; border-left: none;">
          <div class="w-100">
            <strong>Participants:</strong>
            {% for participant in chat.participants.all %}
            {{ participant.username }}
            {% endfor %}
          </div>
          <div class="w-100">
            <small class="text-muted">{{ chat.chat_type }}</small>
          </div>
          <div class="w-100 mt-2">
            <small class="text-muted">
              Created by: {{ chat.creator }} at {{ chat.date_created|date:"F j, Y, G:i" }}
            </small>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-center mt-3">No chats found.</p>
      {% endif %}
    </div>

    <!-- Right part: Chat details -->
    <div class="col-md-9">
      {% if chats %}
      <div id="choose-chat-placeholder">
        <div class="chat-detail d-flex flex-column border" style="height: 80vh;">
          <!-- <div class="p-1 border-bottom" style="background-color: #f8f9fa;">
            <h5>Welcome to My Chats</h5>
            <small class="text-muted">Please choose a chat room from the list on the left</small>
          </div> -->
          <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-rocketchat fa-2xl fa-bounce"></i>
            <br>
            <p class="text-muted">No chat selected</p>
          </div>
        </div>
      </div>
      {% for chat in chats %}
      <div id="chat-detail-placeholder-{{ chat.pk }}" class="chat-detail-placeholder" style="display: none;">
        {% include 'chats/message_detail.html' with chat=chat %}
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-info mt-3" role="alert">
        No chat.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{% static 'js/chats/chat_detail.js' %}"></script>
{% endblock %}