{% load crispy_forms_tags %}
{% load static %}
<div>
  <div class="d-flex justify-content-center align-items-center">
    <button type="button" id="openModalButton" class="btn btn-primary w-100 rounded-0" data-bs-toggle="modal"
      data-bs-target="#myModal">
      <i class="fa-regular fa-plus fa-lg"></i> Group Chat
    </button>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mb-0" id="myModalLabel">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Search Users -->
          <form method="get" action="" style="position: relative; display: flex; align-items: center;">
            <input type="text" class="form-control" name="query" placeholder="Search users..."
              style="padding-left: 40px; padding-right: 5px;">
            <button type="submit"
              style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); border: none; background: none; padding: 0;">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <!-- Create Group Chat -->
          <form id="group-chat-create-form" method="post" action="{% url 'group-chat-create' %}">
            {% csrf_token %}
            <div class="form-group">
              <div class="d-flex flex-column align-items-start">
                {% for participant in group_chat_create_form.fields.participants.queryset %}
                <label class="mb-2">
                  <input type="checkbox" name="participants" value="{{ participant.pk }}"
                    class="participant-checkbox mr-2">
                  <img src="{{ participant.profile.profile_image.url }}" alt="{{ participant.username }}"
                    class="rounded-circle img-fluid" style="width: 35px; height: 35px;">
                  {{ participant.username }}
                </label>
                {% endfor %}
              </div>
            </div>
            <button type="submit" id="create-chat-button" class="btn btn-primary mt-3" data-bs-toggle="popover">
              Create Chat
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% block javascripts %}
<script src="{% static 'js/chats/group_chat_create_form.js' %}"></script>
{% endblock %}