{% load static %}
<div class="chat-detail">
  <div class="chat-messages">
    {% if chat.messages.all %}
    {% for message in chat.messages.all %}
    <div class="message">
      <p>
        <strong>{{ message.sender.username }}:</strong> {{ message.content }}
      </p>
      <span class="date-sent">{{ message.date_sent|date:"F j, Y, G:i" }}</span>
    </div>
    {% endfor %} {% else %}
    <p>No messages yet. Start the conversation!</p>
    {% endif %}
  </div>
  <div>
    <form id="message-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group" style="position: relative;">
        <label for="message-input">Message:</label><br />
        <textarea id="message-input" class="form-control" name="message" rows="4" cols="50" style="min-height: 50px;"
          required></textarea>
        <!-- <label for="attachment">Attachment:</label><br>
            <input type="file" id="attachment" name="attachment"><br><br> -->
        <button id="send-button" type="submit" class="btn btn-primary" data-bs-toggle="popover"
          style="position: absolute; right: 7px; bottom: 5px; visibility: hidden; opacity: 0; width: 0px; transform: translateX(7px); overflow: hidden; ">
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>

{% block javascripts %}
<script type="module" src="{% static 'js/chats/message_detail.js' %}"></script>
{% endblock %}