{% extends 'base.html' %}
{% block title %}Create Story{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-header">
                    <h2 class="card-title text-center">Create a New Story</h2>
                </div>
                <div class="card-body bg-light">
                    <form method="post" action="{% url 'story-create' %}" enctype="multipart/form-data" class="mt-4">
                        {% csrf_token %}

                        <div class="form-group mb-3">
                            <label for="id_file">File</label>
                            <input type="file" id="id_file" name="{{ form.file.name }}" class="form-control"
                                accept="image/*,video/*" onchange="previewMedia();">
                            <div id="mediaPreview" class="mt-3" style="display: none;">
                                <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid"
                                    style="display: none;">
                                <video id="videoPreview" controls style="width: 100%; display: none;">
                                    <source src="#" type="video/mp4">Your browser does not support the video tag.
                                </video>
                            </div>
                            {% if form.file.errors %}
                            <div class="alert alert-danger">{{ form.file.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_content">Content</label>
                            <textarea id="id_content" name="{{ form.content.name }}" class="form-control"
                                rows="3">{{ form.content.value }}</textarea>
                            {% if form.content.errors %}
                            <div class="alert alert-danger">{{ form.content.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary d-block w-100">Create Story</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewMedia() {
        var file = document.getElementById("id_file").files[0];
        var previewContainer = document.getElementById('mediaPreview');
        if (file) {
            var fileReader = new FileReader();
            fileReader.onload = function (event) {
                var mediaContent = document.createElement(file.type.startsWith('image/') ? 'img' : 'video');
                mediaContent.src = event.target.result;
                if (file.type.startsWith('video/')) {
                    mediaContent.controls = true;
                }
                previewContainer.innerHTML = '';  // Clear previous previews
                previewContainer.appendChild(mediaContent);
                previewContainer.style.display = 'block';  // Make preview visible
            };
            fileReader.readAsDataURL(file);
        } else {
            previewContainer.style.display = 'none';
        }
    }
</script>
{% endblock %}