.chat-container {
    transition: background-color 0.3s ease;
}

.chat-container:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#chats-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#chats-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}