.chat-item {
    transition: background-color 0.3s ease;
}

.chat-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* For Webkit browsers (Chrome, Safari) */
.chat-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat-list {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}