{% extends "base.html" %}
{% load static %}
{% block title %}My Chats{%endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/css/chats/chat.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex align-items-center" style="height: 80vh;">
    <!-- Left part: List of chats -->
    <div id="chats-container" class="d-flex flex-column border"
      style="min-width: fit-content; height: 100%; overflow-y: auto;">
      {% include 'components/chats/chat_detail.html' with chats=chats %}
    </div>

    <!-- Right part: Chat details -->
    <div id="messages-container" class="d-flex flex-grow-1 flex-column justify-content-center border "
      style="height: 100%;">
      {% if not selected %}
      <div class="d-flex flex-column align-items-center">
        <i class="fa-brands fa-rocketchat fa-2xl fa-bounce mb-3"></i>
        <p class="text-muted">No chat selected</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{% static 'apps/js/chats/chat.js' %}"></script>
{% endblock %}