{% extends "base.html" %}
{% load static %}
{% block title %}My Chats{%endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/css/chats/chat_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex align-items-center" style="height: 80vh;">
    <!-- Left part: List of chats -->
    <div id="chats-container" class="col-md-3 d-flex flex-column border" style="min-width: fit-content; height: 100%; overflow-y: auto;">
      {% include 'apps/chats/group_chat_create_form.html' %}
      <ul class="chat-list list-group flex-grow-1 rounded-0">
        {% if chats %}
        {% for chat in chats %}
        <div>
          {% include 'components/chats/chat_item.html' with chat=chat %}
        </div>
        {% endfor %}
        {% endif %}
      </ul>
    </div>

    <!-- Right part: Chat details -->
    <div class="col-md-9 d-flex flex-column justify-content-center border" style="min-width: 50vw; height: 100%;">
      <div id="message-detail-placeholder">
        {% if not selected %}
        <div class="d-flex flex-column align-items-center">
          <i class="fa-brands fa-rocketchat fa-2xl fa-bounce mb-3"></i>
          <p class="text-muted">No chat selected</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block javascripts %}
  <script type="module" src="{% static 'apps/js/chats/chat_detail.js' %}"></script>
  <script type="module" src="{% static 'components/js/chats/message_item.js' %}"></script>
  {% endblock %}