{% extends 'base.html' %}
{% load static %}
{% block title %}{{viewed_user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center">
  <div class="profile-header d-flex align-items-ceneter">
    {% if viewed_user.profile.profile_image %}
    <div class="d-inline-block position-relative me-3" style="width: 150px; height: 150px;">
      <div id="story-container-{{ viewed_user.username }}" class="story-container">
        {% if active_stories %}
        <button type="button" class="btn" style="padding: 0; background: none; border: none; outline: none;"
          data-bs-toggle="modal" data-bs-target="#storyModal-{{ viewed_user.username }}">
          <img src="{{ viewed_user.profile.profile_image.url }}" alt="{{ viewed_user.username }}'s Profile Image"
            class="rounded-circle img-thumbnail position-absolute top-0 start-0"
            style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%; border: 3px solid rgba(252, 29, 29, 0.8);">
        </button>
        {% else %}
        <img src="{{ viewed_user.profile.profile_image.url }}" alt="{{ viewed_user.username }}'s Profile Image"
          class="rounded-circle img-thumbnail position-absolute top-0 start-0"
          style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%; border: 3px solid rgba(116, 116, 116, 0.8)">
        {% endif %}
        {% include 'stories/story_detail.html' with active_stories=active_stories viewed_user=viewed_user %}
      </div>
    </div>
    {% endif %}
    <div>
      <h2>{{ viewed_user.username }}</h2>
      <p>Bio: {{ viewed_user.profile.bio }}</p>
      {% if participant.activity_status == -1 %}
      <small class="text-muted">Never online</small>
      {% elif participant.activity_status > 2 %}
      <small class="text-muted">Online {{ participant.activity_status }} minutes ago</small>
      {% else %}
      <small class="text-success">
        <i class="fa fa-circle text-success me-1"></i>Online
      </small>
      {% endif %}
      {% include 'users/follower_and_following_detail.html' with viewed_user=viewed_user %}
    </div>
  </div>

  <div class="profile-details mt-4">
    <!-- <p><strong>Location:</strong> {{ viewed_user.profile.location }}</p>

    <p>
      <strong>Website:</strong>
      {% if viewed_user.profile.website %}
      <a href="{{ viewed_user.profile.website }}" target="_blank" rel="noopener noreferrer">
        Personal Website
      </a>
      {% endif %}
    </p>

    <p><strong>Email:</strong> {{ viewed_user.email }}</p>
    <p><strong>First Name:</strong> {{ viewed_user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ viewed_user.last_name }}</p>

    {% if viewed_user.profile.birthday %}
    <p>
      <strong>Birthday:</strong> {{ viewed_user.profile.birthday|date:"F j, Y" }}
    </p>
    {% endif %} -->
    <div class="d-flex justify-content-around align-items-ceneter">

      {% if viewed_user == user %}
      <a href="{% url 'user-profile-update' %}" class="btn btn-dark">Edit Profile</a>
      <a href="{% url 'post-create' %}" class="btn btn-dark">Create Post</a>
      <a href="{% url 'story-create' %}" class="btn btn-dark">Create Story</a>
      {% else %}
      {% if is_following %}
      <form method="post" action="{% url 'unfollow-profile' username=viewed_user.username %}"
        class="follow-unfollow-form" data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary following">Following</button>
      </form>
      {% else %}
      <form method="post" action="{% url 'follow-profile' username=viewed_user.username %}" class="follow-unfollow-form"
        data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary follow">Follow</button>
      </form>
      {% endif %}

      <form id="messageForm" method="post"
        action="{% url 'private-chat-create' receiver_username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Message</button>
      </form>
      {% endif %}
    </div>


    {% include 'users/user_profile_sections.html' with viewed_user=viewed_user %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/users/user_profile_detail.js' %}"></script>
{% endblock %}