{% extends 'base.html' %} {% load static %}
{% block title %}{{viewed_user.username }}'s Profile{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="profile-header d-flex align-items-center">
    {% if viewed_user.profile.profile_image %}
    <div class="d-inline-block position-relative" style="width: 150px; height: 150px;">
      <img src="{{ viewed_user.profile.profile_image.url }}" alt="{{ viewed_user.username }}'s Profile Image"
        class="rounded-circle img-fluid position-absolute top-0 start-0"
        style="object-fit: cover; width: 100%; height: 100%;">
    </div>
    {% endif %}

    <div class="ml-4">
      <h2>{{ viewed_user.username }}</h2>
      <p>Bio: {{ viewed_user.profile.bio }}</p>
      {% if viewed_user != user%}
      {% if viewed_user.activity_status == -1 %}
      <p>Never active</p>
      {% elif viewed_user.activity_status > 2 %}
      <p>Active {{ viewed_user.activity_status }} minutes ago</p>
      {% else %}
      <i class="fa fa-circle text-success"></i> Online
      {% endif %}
      {% endif %}

      {% include 'users/follower_and_following_detail.html' with viewed_user=viewed_user %}
    </div>
  </div>

  <div class="profile-details mt-4">
    <p><strong>Location:</strong> {{ viewed_user.profile.location }}</p>

    <p>
      <strong>Website:</strong>
      {% if viewed_user.profile.website %}
      <a href="{{ viewed_user.profile.website }}" target="_blank" rel="noopener noreferrer">
        Personal Website
      </a>
      {% endif %}
    </p>

    <p><strong>Email:</strong> {{ viewed_user.email }}</p>
    <p><strong>First Name:</strong> {{ viewed_user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ viewed_user.last_name }}</p>

    {% if viewed_user.profile.birthday %}
    <p>
      <strong>Birthday:</strong> {{ viewed_user.profile.birthday|date:"F j, Y" }}
    </p>
    {% endif %}

    {% if viewed_user == user %}
    <div>
      <a href="{% url 'user-profile-update' %}" class="btn btn-primary">Update Profile</a>
    </div>
    {% else %}
    <div>
      {% if is_following %}
      <form method="POST" action="{% url 'unfollow-profile' username=viewed_user.username %}"
        class="follow-unfollow-form" data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary following">Following</button>
      </form>
      {% else %}
      <form method="POST" action="{% url 'follow-profile' username=viewed_user.username %}" class="follow-unfollow-form"
        data-follow-url="{% url 'follow-profile' username=viewed_user.username %}"
        data-unfollow-url="{% url 'unfollow-profile' username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary follow">Follow</button>
      </form>
      {% endif %}


      <form id="messageForm" method="post"
        action="{% url 'private-chat-create' receiver_username=viewed_user.username %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Message</button>
      </form>
    </div>
    {% endif %}

    <!-- Posts, Liked Posts, and Commented Sections -->
    <div class="card">
      <div class="card-header">Posts by {{ viewed_user.username }}</div>
      <ul class="list-group list-group-flush">
        {% for post in viewed_user.posts.all %}
        <li class="list-group-item">
          <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No posts available.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mt-4">
      <div class="card-header">Liked Posts</div>
      <ul class="list-group list-group-flush">
        {% for post in user.liked_posts.all %}
        <li class="list-group-item">
          <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No liked posts.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="card mt-4">
      <div class="card-header">Commented Posts</div>
      <ul class="list-group list-group-flush">
        {% for comment in user.posted_comments.all %}
        <li class="list-group-item">
          <strong>Comment on <a href="{% url 'post-detail' pk=comment.post.pk %}">
              {{ comment.post.title }}</a>:</strong>
          "{{ comment.content|truncatewords:20 }}"
          <small>— posted on {{ comment.date_posted|date:"F j, Y, G:i" }}</small>
        </li>
        {% empty %}
        <li class="list-group-item">No posts commented on.</li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/users/user_profile_detail.js' %}"></script>
{% endblock %}
