<li id="chat-container-{{ chat.pk }}"
    class="chat-container list-group-item d-flex flex-column align-items-start border-start-0 border-end-0"
    data-pk="{{ chat.pk }}" data-url="{% url 'chat-detail' pk=chat.pk %}">
    <div class="w-100">
        {% if chat.chat_type == 'private' %}
        {% for participant in chat.participants.all %}
        {% if participant != user %}
        <div class="d-flex align-items-center">
            <img class="img-fluid rounded-circle me-1" src="{{ participant.profile.profile_image.url }}"
                style="width: 50px; height: 50px; object-fit: cover;">
            <div class="d-flex flex-column justify-content-start">
                <span class="h6 mb-0">{{ participant.username }}</span>
                {% include 'components/users/user_online_status.html' with user=participant %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div>
            {% if chat.image %}
            <img class="img-fluid rounded-3 border border-secondary-subtle me-1" src="{{ chat.image.url }}"
                style="width: 50px; height: 50px; object-fit: contain;">
            {% endif %}
            {{ chat.title }}
        </div>
        {% endif %}
    </div>
</li>