{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'components/css/chats/message_detail.css' %}">
{% endblock %}

<div class="d-flex flex-column border" style="height: 80vh; overflow: hidden;">
  <div class="d-flex justify-content-between align-items-center p-1 pb-0"
    style="border-bottom: 1px solid #ccc; background-color: #f8f9fa;">
    <div>
      <h5 class="my-1">
        {% if chat.chat_type == 'private' %}
        {% for participant in chat.participants.all %}
        {% if participant != user %}
        <div class="d-flex align-items-center">
          <a class="text-decoration-none text-reset"
            href="{% url 'user-profile-detail' username=participant.username %}">
            <img class="img-fluid rounded-circle me-1" src="{{ participant.profile.profile_image.url }}"
              style="width: 40px; height: 40px; object-fit: cover;">
          </a>
          <div class="d-flex flex-column justify-content-start">
            <span class="h6 mb-0">{{ participant.username }}</span>
            {% include 'components/users/user_online_status.html' with user=participant %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {{ chat.title }}
        {% endif %}
      </h5>
    </div>
  </div>

  <!-- Upper part: Messages display -->
  <div class="message-list flex-grow-1 overflow-auto">
    <div class="d-flex justify-content-center my-1">
      <p class="text-muted">Start the conversation!</p>
    </div>
    {% if chat.messages.all %}
    {% for message in chat.messages.all %}
    {% if message.sender == user %}
    <div class="d-flex flex-row-reverse p-1">
      {% include 'components/chats/message_item.html' with user=user message=message %}
    </div>
    {% else %}
    <div class="d-flex p-1">
      {% include 'components/chats/message_item.html' with user=user message=message %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>


  <!-- Lower part: Message input -->
  <div class="message-form-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-0 position-relative">
        <textarea class="form-control rounded-0 shadow-none" name="message" rows="3"
          placeholder="Type your message here..." style="resize: none;" required></textarea>
        <button type="submit" class="btn btn-primary" data-bs-toggle="popover"
          style="position: absolute; right: 7px; bottom: 5px; visibility: hidden; opacity: 0; width: 0px; transform: translateX(7px); overflow: hidden;">
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>