<a class="text-decoration-none text-reset" href="{% url 'user-profile-detail' username=message.sender.username %}">
    <img class="img-fluid rounded-circle ms-2" src="{{ message.sender.profile.profile_image.url }}"
        style="width: 35px; height: 35px; object-fit: cover;">
</a>
<div class="d-flex flex-column text-wrap text-break rounded-3 ps-2 pe-2" style="max-width: 90%;">
    <p class="text-start m-1">{{ message.content }}</p>
    <small class="text-muted text-start" style="font-size: 0.8em;">
        {{ message.date_sent|date:"F j, Y, G:i" }}
    </small>
</div>