{% load static %}
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-nowrap">
      <a class="navbar-brand flex-shrink-0" href="{% url 'metasphere' %}">
        <img src="{% static 'images/title.svg' %}" width="200" />
      </a>

      {% if user.is_authenticated %}
      <div class="d-flex flex-grow-1 justify-content-center align-items-center mx-3">
        <form class="d-flex" method="get" action="{% url 'search' %}"
          style="position: relative; max-width: 600px; width: 100%;">
          <input class="form-control rounded-pill ps-5 flex-grow-1 shadow-none" type="search" placeholder="Search"
            aria-label="Search" name="q" style="min-width: 150px;">
          <button class="btn position-absolute top-50 start-0 translate-middle-y border-0 bg-transparent ps-3"
            type="submit">
            <span class="icon-gradient"><i class="fa fa-search fa-lg"></i></span>
          </button>
        </form>
      </div>
      {% endif %}
      <button class="navbar-toggler flex-shrink-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <span class="icon-gradient"><i class="fa-solid fa-house fa-xl"></i></span>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-create' %}">
            <span class="icon-gradient"><i class="fa-solid fa-pen fa-xl"></i></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'chat-list' %}">
            <span class="icon-gradient"><i class="fa-solid fa-comment-dots fa-xl"></i></span>
          </a>
        </li>
        <li class="nav-item">
          <audio id="notification-sound" src="{% static 'audio/notification_sound.mp3' %}" preload="auto"></audio>
          <a class="nav-link" href="{% url 'notification-list' %}">
            <div class="position-relative d-inline-block">
              <span class="icon-gradient"><i id="notification-icon" class="fa-solid fa-bell fa-xl"></i></span>
              <span id="notification-count"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                style="display: none; transform: translate(-50%, -50%); font-size: 0.75rem;">
              </span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown me-2">
          <a class="nav-link" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}'s Profile Image"
              class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
            {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
            <li>
              <a class="dropdown-item" href="{% url 'user-profile-detail' username=user.username %}">
                <span class="icon-gradient">
                  <i class="fa-solid fa-user me-2"></i>Profile
                </span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'history' %}">
                <span class="icon-gradient">
                  <i class="fa-solid fa-clock-rotate-left me-2"></i>History
                </span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'setting' %}">
                <span class="icon-gradient">
                  <i class="fa-solid fa-gear me-2"></i>Setting
                </span>
              </a>
            </li>
            <li>
              <form method="post" action="{% url 'user-logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">
                  <span class="icon-gradient"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</span>
                </button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <button class="btn nav-link text-nowrap" data-bs-toggle="modal" data-bs-target="#authModal">
            <span class="icon-gradient">Log In</span>
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>