<div class="left-part position-fixed text-start border-end h-100 top-5 start-0 p-3 overflow-y-auto"
    style="width: 20%;">
    <div class="border-bottom pb-2">
        <div class="list-group">
            <a href="{% url 'home' %}" class="list-group-item-action rounded text-decoration-none px-3 py-2">
                <i class="fa fa-house"></i> Home
            </a>
            <a href="#" class="list-group-item-action rounded text-decoration-none px-3 py-2">
                <i class="fa fa-chart-line"></i> Popular
            </a>
            <a href="#" class="list-group-item-action rounded text-decoration-none px-3 py-2">
                <i class="fa fa-users"></i> All
            </a>
        </div>
    </div>

    <div class=" pt-4 pb-2">
        <h6 class="text-muted mb-2">COMMUNITIES</h6>
        <div class="list-group">
            <a href="#" class="list-group-item-action text-decoration-none py-2">
                <img src="csMajorIcon.png" class="me-2"> r/csMajors
            </a>
            <a href="#" class="list-group-item-action text-decoration-none py-2">
                <img src="gradAdmissionsIcon.png" class="me-2"> r/gradadmissions
            </a>
            <a href="#" class="list-group-item-action text-decoration-none py-2">
                <img src="mscsIcon.png" class="me-2"> r/MSCS
            </a>
            <a href="#" class="list-group-item-action text-decoration-none py-2">
                <img src="uiucIcon.png" class="me-2"> r/UIUC
            </a>
            <a href="#" class="list-group-item-action text-decoration-none py-2">
                <img src="uiucMcsIcon.png" class="me-2"> r/UIUC_MCS
            </a>
        </div>
    </div>

</div>